{{ if eq .chezmoi.os "linux" }}

{{ if .development }}

[".local/bin/golangci-lint"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "golangci/golangci-lint" (printf "golangci-lint-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    stripComponents = 1
    path = "golangci-lint"

[".local/bin/asdf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "asdf-vm/asdf" (printf "asdf-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "asdf"

[".local/bin/gomplate"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "hairyhenderson/gomplate" "gomplate_linux-amd64" | quote }}
    executable = true

[".local/bin/tree-sitter"]
    {{ $tsArch := .chezmoi.arch -}}
    {{- if eq $tsArch "amd64" -}}
    {{-   $tsArch = "x64" -}}
    {{- end -}}
    # type = "archive-file"
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "tree-sitter/tree-sitter" (printf "tree-sitter-%s-%s.gz" .chezmoi.os $tsArch) | quote }}
    executable = true
    decompress = "gzip"
    # path = {{ printf "tree-sitter-%s-%s" .chezmoi.os $tsArch | quote }}

{{ end }}

[".local/bin/delta"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "dandavison/delta" "delta-*-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    executable = true
    stripComponents = 1
    path = "delta"

[".local/bin/fzf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "fzf"

{{ end }}
