{{- if eq .chezmoi.os "linux" -}}
{{ $x64Arch := .chezmoi.arch -}}
{{- if eq $x64Arch "amd64" -}}
{{-   $x64Arch = "x64" -}}
{{- end -}}
{{ $x86_64Arch := .chezmoi.arch -}}
{{- if eq $x86_64Arch "amd64" -}}
{{-   $x86_64Arch = "x86_64" -}}
{{- end -}}

{{- if .development -}}

[".local/bin/golangci-lint"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "golangci/golangci-lint" (printf "golangci-lint-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    stripComponents = 1
    path = "golangci-lint"

[".local/bin/asdf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "asdf-vm/asdf" (printf "asdf-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "asdf"

[".local/bin/gomplate"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "hairyhenderson/gomplate" "gomplate_linux-amd64" | quote }}
    executable = true

[".local/bin/tree-sitter"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "tree-sitter/tree-sitter" (printf "tree-sitter-%s-%s.gz" .chezmoi.os $x64Arch) | quote }}
    executable = true
    decompress = "gzip"

[".local/bin/bws"]
    type = "archive-file"
    url = {{ gitHubReleaseAssetURL
      "bitwarden/sdk-sm"
      (gitHubTags "bitwarden/sdk-sm" | toJson | fromJson | jq ".[] | .name | select(test(\"bws-.*\"))" | first)
      (printf "bws-*%s*-%s-*.zip" $x86_64Arch .chezmoi.os)
      | quote }}
    executable = true
    path = "bws"

{{ end -}}

[".local/bin/delta"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "dandavison/delta" "delta-*-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    executable = true
    stripComponents = 1
    path = "delta"

[".local/bin/fzf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "fzf"

[".local/bin/bun"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "oven-sh/bun" (printf "bun-%s-%s.zip" .chezmoi.os $x64Arch) | quote }}
    executable = true
    stripComponents = 1
    path = "bun"

{{ end }}
