{{- if not (eq .chezmoi.os "windows") -}}

{{- $x86_64Arch := .chezmoi.arch -}}
{{- if eq $x86_64Arch "amd64" -}}
{{-   $x86_64Arch = "x86_64" -}}
{{- end -}}

[".local/share"]
  {{ $tag := "nightly" -}}
  {{- if or .mobile (eq .chezmoi.os "darwin") -}}
  {{-   $tag = "stable" -}}
  {{- end -}}
  {{- $os := .chezmoi.os }}
  {{- if eq $os "darwin" -}}
  {{-   $os = "macos" -}}
  {{- end -}}
  type = "archive"
  stripComponents = 1
  url = {{ gitHubReleaseAssetURL "neovim/neovim" $tag (printf "nvim-%s-%s.tar.gz" $os $x86_64Arch ) | quote }}

{{- end -}}
