{{- $x86_64Arch := .chezmoi.arch -}}
{{- if eq $x86_64Arch "amd64" -}}
{{-   $x86_64Arch = "x86_64" -}}
{{- end -}}

[".local/share"]
  {{- $tag := "nightly" }}
  {{- if .mobile -}}
  {{-   $tag = "stable" -}}
  {{- end }}
  type = "archive"
  stripComponents = 1
  url = {{ gitHubReleaseAssetURL "neovim/neovim" $tag (printf "nvim-%s-%s.tar.gz" .chezmoi.os $x86_64Arch ) | quote }}
