{{- if ne .chezmoi.os "darwin" -}}
#!/bin/bash

# go-version: {{ output "go" "version" }}

{{ range .packages.go }}
  go install "{{.}}@latest"
{{ end }}

{{ if not .work }}
go install github.com/GoogleCloudPlatform/docker-credential-gcr/v2@latest
docker-credential-gcr configure-docker --registries=us-central1-docker.pkg.dev
{{ end }}

asdf reshim

{{- end -}}
