{{- if and (ne .chezmoi.os "darwin") (ne .chezmoi.arch "arm64") -}}
#!/bin/bash

{{ range list
  "cargo-binstall"
  "cargo-update"
  "proximity-sort"
-}}
  cargo install {{.}}
{{ end }}

{{- if not .work }}
{{-   range list
        "jj-cli"
-}}
  cargo binstall -y --strategies crate-meta-data {{.}}
{{-  end -}}
{{ end -}}

{{- end -}}
