#!/bin/bash

# node-version: {{ output "node" "--version" }}

{{- if .work -}}
NPM_BIN="npm"
# npm-version: {{ output "npm" "--version" }}
{{ else }}
NPM_BIN="pnpm"
SHELL="$SHELL" "${NPM_BIN?}" setup --force
# pnpm-version: {{ output "sh" "-c" "pnpm --version 2>/dev/null || true" }}
{{- end }}

"${NPM_BIN?}" install -g {{ .packages.npm | join " " }} || true

{{ if not .work }}
"${NPM_BIN?}" install -g @anthropic-ai/claude-code || true
{{ end }}
