#!/bin/bash

# node-version: {{ output "node" "--version" }}

{{- if .work -}}
NPM_BIN="npm"
{{ else }}
NPM_BIN="pnpm"
SHELL="$SHELL" "${NPM_BIN?}" setup --force
{{- end }}

"${NPM_BIN?}" install -g {{ .packages.npm | join " " }} || true

{{ if not .work }}
"${NPM_BIN?}" install -g @anthropic-ai/claude-code || true
{{ end }}
