scripts
install
python_plugins

{{ if ne .chezmoi.os "darwin" }}
dot_iterm
dot_macos
Library
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.local/bin/delta
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/**/*.sh
.local/bin/asdf
{{ else }}
Documents/PowerShell/**
AppData/**
{{ end }}

{{ if not .wsl -}}
.local/bin/wslbrowser
{{ end }}

# Ignore local changes to externals
.local/share/oh-my-zsh/cache/**
.local/share/lua-language-server/log
.local/share/lua-language-server/meta/Lua*en-us utf8
