{{ $desktop := promptBoolOnce . "desktop" "desktop" }}
{{ $work := promptBoolOnce . "work" "work" }}
{{ $development := promptBoolOnce . "development" "development" }}
{{ $mobile := promptBoolOnce . "mobile" "mobile" }}

sourceDir = {{ .chezmoi.sourceDir | quote }}
mode = "symlink"

[data]
  desktop = {{ $desktop }}
  work = {{ $work }}
  wsl = {{ and (ne (len .chezmoi.kernel) 0) (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  development = {{ $development }}
  mobile = {{ $mobile }}
