{{ $desktop := promptBoolOnce . "desktop" "desktop" }}
{{ $work := promptBoolOnce . "work" "work" }}
{{ $development := promptBoolOnce . "development" "development" }}

sourceDir = {{ .chezmoi.sourceDir | quote }}
mode = "symlink"

[data]
  desktop = {{ $desktop }}
  work = {{ $work }}
  wsl = {{ .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
  development = {{ $development }}
