.netrwhist
*.swp
.DS_Store
*.orig
vim/.nrepl-history
vim/plugin/packer_compiled.lua
vim/rplugin/
vim/spell
vim/tags
vim/view
tmux/plugins
touchbar/icons
touchbar/.apikey
touchbar/getloc
scripts/.config
scripts/.temp
