    ignore = dirty
[submodule "rbenv"]
    path = rbenv
    url = https://github.com/sstephenson/rbenv.git
[submodule "zsh/oh-my-zsh-sparse"]
    path = zsh/oh-my-zsh-sparse
    url = https://github.com/robbyrussell/oh-my-zsh.git
    branch = master
[submodule "zsh/syntax-highlighting"]
    path = zsh/syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    branch = master
[submodule "zsh/zsh-async"]
	path = zsh/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "tmux/tmux-yank"]
	path = tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
