	ignore = dirty
[submodule "zsh/syntax-highlighting"]
	path = zsh/omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh/zsh-async"]
	path = zsh/zsh-async
	url = https://github.com/mafredri/zsh-async.git
	branch = master
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
	branch = master
[submodule "zsh/omz-custom/plugins/you-should-use"]
	path = zsh/omz-custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
