*.egg-info
*.orig
*.swp
.DS_Store
.claude
.luarc.json
.netrwhist
.venv
__pycache__
**/httpie_google_auth_plugin/build

dot_config/nvim/lazy-lock.json
dot_config/nvim/spell
dot_config/nvim/view

scripts/.config
scripts/.temp
touchbar/.apikey
touchbar/getloc
touchbar/icons
