{{- if eq .chezmoi.os "windows" -}}
Import-Module $env:ChocolateyInstall\helpers\chocolateyProfile.psm1

winget install --no-upgrade {{ .packages.winget | join " " }}

refreshenv

nvm install latest
nvm use latest

{{- end -}}
