snippet means
% ${1} means "${2}"${3}
endsnippet

snippet #u
#u ${1}

#a ${2}

#q ${3}
endsnippet

snippet assume
assume ${1} {
		${2}
}
${3} by imp_i on ${4}
endsnippet

snippet disprove
disprove ${1} {
		${2}
}
${3} by raa on ${4}
endsnippet

snippet brc
by ${1} on ${2}
{
		${3}
}
{
		${4}
}
endsnippet

snippet nbrc
by ${1} on ${2}
{
		${3}
}
endsnippet
