snippet prop "Object property"
${1:propertyName}: function($2) {
$3
}
endsnippet

snippet log "console.log"
console.log($1)
endsnippet

snippet iife "A top-level IIFE"
(function() {
	'use strict';

	$1
}());
endsnippet
