snippet a* "align*"
\begin{align*}
    $1
\end{align*}
endsnippet

snippet lim "" w
\lim_{${1:n} \rightarrow ${2:\infty}}
endsnippet

snippet dsum "displaystyle sum" w
\displaystyle\sum_{$1}^{$2} $3
endsnippet

snippet sum "displaystyle sum" w
\sum_{$1}^{$2} $3
endsnippet

snippet set "a_1, ..., a_n" w
${1:a}_$2, \dots, $1_$3
endsnippet

snippet algo "algorithmic"
\begin{algorithmic}[1]
$1
\end{algorithmic}
endsnippet
