{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt-get update

{{- $pkgs := list
  "bat"
  "build-essential"
  "clang"
  "cmake"
  "curl"
  "direnv"
  "fd-find"
  "git"
  "google-cloud-cli"
  "htop"
  "jq"
  "neovim"
  "pipx"
  "python3-dev"
  "python3-neovim"
  "python3-pip"
  "ripgrep"
  "tmux"
  "tree"
}}

{{ if .desktop -}}
{{ $pkgs = concat $pkgs (list
  "compizconfig-settings-manager"
  "fonts-inconsolata"
  "gnome-tweak-tool"
  )
}}
{{- end -}}

{{ if not .work -}}
{{ $pkgs = concat $pkgs (list "docker-ce" "docker-ce-cli" "containerd.io" "docker-buildx-plugin" "docker-compose-plugin") }}
{{- end -}}

sudo apt-get install -yq {{ $pkgs | join " " }}

{{- end -}}
